@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3.5px solid #dfdfdf;
}

.header-brand {
  color: #4895ef;
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
}

.header-brand-img {
  width: 15%;
}

.banner-container {
  display: flex;
  justify-content: space-around;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text span {
  font-size: 4rem;
  font-family: 'Fredoka One', cursive;
  margin: 0.6rem 0;
  color: #4895ef;
}

.banner-text span:first-of-type {
  color: #ef476f;
}

.banner-text span:last-of-type {
  color: #ef476f;
}

.banner-img {
  width: 45%;
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.movies-container img {
  width: 20%;
  margin: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 5rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  width: 700px;
  border-radius: 10px;
  padding: 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.fa-times {
  cursor: pointer;
  font-size: 1.5rem;
  float: right;
}

.trailer-video-container {
  display: flex;
  justify-content: center;
}

.trailer-video {
  width: 590px;
  height: 320px;
}

#movie-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.overview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview-heading {
  font-family: 'Khula', sans-serif;
  font-size: 2rem;
}

.overview {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.rating-value {
  font-size: 2.5rem;
  font-family: 'Khula', sans-serif;
}
.fa-star {
  color: rgb(231, 177, 40);
  font-size: 2rem;
}
