@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 3.5px solid #dfdfdf;
}

.header-brand {
  color: #4895ef;
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
}

.header-brand-img {
  width: 15%;
}

.banner-container {
  display: flex;
  justify-content: space-around;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text span {
  font-size: 4rem;
  font-family: 'Fredoka One', cursive;
  margin: 0.6rem 0;
  color: #4895ef;
}

.banner-text span:first-of-type {
  color: #ef476f;
}

.banner-text span:last-of-type {
  color: #ef476f;
}

.banner-img {
  width: 45%;
}
